html, body {
	margin: 0;
	font-family: "Helvetica", sans-serif;
}

.logo {
	margin: 0 30px;
	font-family: "Fantasy", fantasy;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

h1, h2, h3 {
	font-family: "Fantasy", fantasy;
}

h2 {
	margin: 35px 0 0 0;
}

header, footer {
	position: sticky;
	color: #fff;
	display: flex;
	padding: 30px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 67%, rgba(0,188,237,1) 100%, rgba(0,83,158,1) 100%);
}

header {
	top: 0;
	height: 65px;
}

footer {
	bottom: 0;
	height: 30px;
	padding-right: 50px;
	padding-left: 50px;
}
.footer-text {
	margin: 0 auto;
}

.wrapper {
	margin-bottom: -60px;
	height: 60px;
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.nav-item {
	width: 115px;
	text-align: center;
}

.content {
	padding: 0 50px 20px 50px;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	align-content: flex-start;
}

.card {
	flex-basis: 32%;
}

q {
	display: inline-block;
	padding: 10px 20px 10px 0;
	font-style: italic;
}
