html, body {
	margin: 0;
	font-family: "Helvetica", sans-serif;
	color: #333;
}

.logo {
	margin: 0 30px;
	font-family: "Fantasy", fantasy;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

h1, h2, h3 {
	font-family: "Fantasy", fantasy;
}

header, footer {
	position: sticky;
	background-color: #00539E;
	color: #fff;
	display: flex;
	padding: 30px;
}

header {
	top: 0;
	height: 65px;
}

footer {
	bottom: 0;
	height: 30px;
	padding-right: 50px;
	padding-left: 50px;
}
.footer-text {
	margin: 0 auto;
}

.wrapper {
	margin-bottom: -60px;
	height: 60px;
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.nav-item {
	width: 115px;
}

.content {
	padding: 20px 50px;
}

h2 {
	margin-top: 50px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	align-content: flex-start;
	justify-content: flex-start;
}

.card {
	flex: 1 1 390px;
}

q {
	display: inline-block;
	padding: 10px 20px 10px 0;
	font-style: italic;
}
